

body{
  background-color: rgb(0, 6, 26);
  color: white;
}

.App{
  width:100%;
}

.ask{
  position:fixed;
  left:45%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.availability{
  font-size:18px;
}

.say{
  position: fixed;
  left: 60%;
  text-align: center;
  right:3%;
  top: 50%;
  transform: translateY(-50%);
}

.logoLetter{
  fill: white;
}

.splash{
  text-align: center;
  position: relative;
}

.splash svg{
  fill: white;
  width: 20%;

}

.say a:link{
  color: white;
}

.say a:hover, a:visited{
  color: gray;
}

#nav h2{
  cursor: pointer;
}

.accordion:hover, .panel2 h3:hover {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.accordion, .panel2 h3 {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.universe svg{
  position: fixed;
}



.orbit, .trajectory{
  fill: none;
  stroke-opacity: .24314;
  stroke-width: 1.267;
  stroke: #b2b2b2;
}

.mars
{
fill:#d83636;
stroke-width:.26458;
}

.marsLand{
  fill:#cf7272;
}

.marsLand path{
  stroke-width:.25105;
  stroke-width:.27619;
}

.yStar{
fill:#fcffcf;
stroke:#b2b2b2;
}

.bStar{
fill:#9dcefd;
stroke:#b2b2b2;
}

.earth{
  fill:#1365be;
  stroke-width:.44017;
}

.earthLand{

}

.earthLand path{
  fill:#20da27;
}

.stratios, .antarctica{
  fill: black;
  stroke-width:.26458px;
  stroke:#fff;
}

.antarctica{
  fill:white;
}


/* trajectory animation */
.trajectory{
  stroke-opacity: .24314;
  stroke-dasharray: 370;
  stroke-dashoffset: 0;
  animation: dash 5s linear;
  stroke-width: 0.8;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke: #ffffff;
}

  @keyframes dash {
    from {
      stroke-dashoffset: 320;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
/*end of trajectory animation */

/* star animation */
.yStar{
  stroke-opacity:.24314;
  stroke-width:.0078589;
  position: relative;
  -webkit-transition: 150s linear;
    -moz-transition: 150s linear;
    -o-transition: 150s linear;
    transition: 150s linear;
}

.bStar{
  stroke-opacity:.24314;
  stroke-width:.0078589;
  position: relative;
  -webkit-transition: 120s linear;
    -moz-transition: 120s linear;
    -o-transition: 120s linear;
    transition: 120s linear;
}

body:hover .bStar{
    -webkit-transform: translate(50px,-50px);
    -moz-transform: translate(50px,-50px);
    -o-transform: translate(50px,-50px);
    -ms-transform: translate(50px,-50px);
    transform: translate(50px,-50px);
  }


body:hover .yStar{
    -webkit-transform: translate(100px,0);
    -moz-transform: translate(100px,0);
    -o-transform: translate(100px,0);
    -ms-transform: translate(100px,0);
    transform: translate(100px,0);
  }

/* end of star animation */

/* planet rotation animation */
.rotEarth, .rotMars{
    transform: rotate(0deg);
    transition: transform 600s linear;
}

body:hover .rotEarth{
  transform: rotate(3600deg);
  transition: transform 600s linear;
}

body:hover .rotMars{
  transform: rotate(3600deg);
  transition: transform 600s linear;
}

/* end of planet rotation animation */

/* Stratios animation */


.stratios{
transform-origin: 317.25px 202.74px;
offset-path: path("m317.25 202.74c3.5277 7.4982 7.0555 14.996 6.1108 20.731-0.94472 5.7343-6.3622 9.7047-11.843 11.626s-11.024 1.7933-31.562-7.2369-56.066-26.96-84.162-50.399-48.759-52.385-62.933-66.858-21.859-14.473-28.453-12.522c-6.5935 1.9509-11.927 5.7338-14.762 10.601s-3.0869 10.759-0.69288 14.153c2.3941 3.3943 7.4335 4.2908 11.641 3.9425 4.2075-0.34832 7.8879-2.0854 11.415-3.7503");
offset-rotate: auto 60deg;
animation: to 120s linear infinite;
}

@keyframes to{
  20%{
    offset-rotate: auto 33deg;
  }
  80%{
    offset-rotate: auto 33deg;
  }
  100% {
    motion-offset: 100%;
    offset-distance: 99%;
    offset-rotate: auto 165deg;
  }
}


/* end of Stratios animation */

/* Phones */
@media only screen and (max-width: 768px) {
.universe svg{
top:0;
height: 100%;
position: fixed;
}

.say {
  margin-top: 100px;
  transform: inherit;
  display: block;
  position: relative;
  width: 95%;
  left: 2.5%;
}

.ask{
  margin-top: 40px;
  transform: inherit;
  display: block;
  position: relative;
  width: 95%;
  left: 2.5%;
}

.App {
  position: relative;
}

}
